* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.container-pai {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 60%;
    height: 70vh;
    border-radius: 3%;
    box-shadow: 0px 20px 30px -30px black;
}

.imagem {
    background-position: -565px -325px;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagens/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
}

.img-mobile {
    display: none;
}

.img-principal {
    background-image: url(../imagens/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /*  margin-top: -40px;
    margin-left: -170px; */
    background-position: -80px 40px;
    position: absolute;
}

.box {
    z-index: 1;
    margin: 6px 495px -10px 40px;
}

.conteudo {
    width: 50%;
    padding: 40px 100px 50px 0px;
}

.titulo {
    color: hsl(237, 12%, 33%);
    font-size: 22px;
    padding: 15px 0px 20px 0px;
}

.item {
    cursor: pointer;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.item .ativo {
    display: block;
    animation: slideDown .5s forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        max-height: 100%;
        opacity: 1;
    }
}

.item h3 {
    font-size: 15px;
    font-weight: unset;
    padding: 15px 0px;
    min-width: 300px;
}

.item h3:hover {
    color: #F47B56;
}

.item p {
    font-size: 13px;
    display: none;
    padding: 15px 0px;
    color: hsl(240, 6%, 50%);
}

.icone {
    float: right;
}

svg {
    transition: transform .3s
}

.rotate {
    transform: rotate(180deg);
    stroke: blue;
}